<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let c of componentes"
    [routerLink]="c.redirectTo"
    detail="true">
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
  
      {{c.name}}
    </ion-item>
  </ion-list>

<!--   <ion-button routerLink="/alert">
    Alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button> -->


</ion-content>
