<ion-tabs>

  <ion-tab-bar slot="bottom,top" color="primary">

    <ion-tab-button tab="contactos">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>