<app-header titulo="alert"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alert</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button id="present-alert">Alert Button</ion-button>
<ion-alert
  trigger="present-alert"
  header="A Short Title Is Best"
  subHeader="A Sub Header Is Optional"
  message="A message should be a short, complete sentence."
  [buttons]="alertButtons"
></ion-alert>

<ion-button id="multi-alert">Multi Alert Button</ion-button>
<ion-alert
  trigger="multi-alert"
  header="Alert!" message=" Multialerta ejemplo"
  [buttons]="multiAlertButtons"
></ion-alert>

</ion-content>
