<app-header titulo="card"></app-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">check</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

  </ion-list>
  <ion-list>
    

    <!-- Default Checkbox -->
    <ion-checkbox></ion-checkbox>

    <!-- Disabled Checkbox -->
    <ion-checkbox disabled="true"></ion-checkbox>

    <!-- Checked Checkbox -->
    <ion-checkbox checked="true"></ion-checkbox>

    <!-- Checkbox Colors -->
    <ion-checkbox checked="true" color="primary"></ion-checkbox>
    <ion-checkbox checked="true" color="secondary"></ion-checkbox>
    <ion-checkbox checked="true" color="danger"></ion-checkbox>
    <ion-checkbox checked="true" color="light"></ion-checkbox>
    <ion-checkbox checked="true" color="dark"></ion-checkbox>
</ion-list>
  <!-- Checkboxes in a List -->

  <ion-list>
    <ion-label>Checkbox List 1</ion-label>
    <ion-item *ngFor="let item of data"
    (click)="onClick(item)">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox [color]="item.name"
      [(ngModel)]="item.selected"
      slot="end"></ion-checkbox>
    </ion-item>

    <ion-button (click)="verData()" expand="block">
      Ver data en consola
    </ion-button>

  </ion-list>


  <ion-list>
    <ion-label>Checkbox List 2</ion-label>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
