<!-- Podemos afectar a otros valores con un input -->
<app-header [titulo]="nombre ||'Input Forms'"></app-header>>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">input</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>

    <ion-list-header>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="Introduce el Nombre"
      [(ngModel)]="nombre"></ion-input>
    </ion-list-header>

    <ion-item>
      <ion-input label="Floating label" type="text" labelPlacement="floating"></ion-input>
    </ion-item>

    
  </ion-list>


  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <ion-label>Formulario Válido: {{formulario.valid}}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input
       type="email" 
       placeholder="Email"
       name="email"
       [(ngModel)]="usuario.email" 
       pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
       required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input 
      type="password" 
      name="password"
      [(ngModel)]="usuario.password" 
      placeholder="Contraseña" 
      required></ion-input>
    </ion-item>
    
    <ion-button  [disabled]="formulario.invalid"  type="submit" expand="block">
      Login
    </ion-button>

  </form>
</ion-content>
